body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box; 
	padding: 20px;
	background: #E9EEF1;
	/*color: #102E42;*/
	color: #555;
	background: url(/static/img/bg.jpg);
	background-size: auto;
	background-repeat: repeat;
	min-width:1000px;
}

h1 {
	padding-top: 0;
	margin-top:0;
}

header {
	background-color: rgba(8, 22, 9, 0.8);
	padding: 16px;
	width: 100%;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: white;
	word-spacing: 10px;
	letter-spacing: 3px;
	margin-bottom: 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box; 
}


.col_7 {
	display: inline-block;
	/*width: 33.3333%;*/
	width: 67%;
	white-space: nowrap;
	vertical-align: top;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
}

.col_3{
	display: inline-block;
	/*width: 33.3333%;*/
	width: 30%;
	white-space: nowrap;
	vertical-align: top;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
}

#board {
	/*border: 1px solid #555;*/
	width:350px;
	height:350px;
}

label {
	vertical-align: top;
}

button {
	padding: 6px 30px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	background: rgb(194, 47, 0);
	/*margin-left: 90px;*/
	width: 85px;
	outline: 0;
	margin-top:20px;
	margin-bottom: 10px;
}

button[type="submit"] {
	width: 20px;
	background-color: rgba(8, 22, 9, 0.8);
}

table, td, th {
	padding: 6px 8px;
	border: 1px solid #d6d6d6;
	border-collapse: collapse;
}

.snake_label {
	font-weight: bold;
}

.ready {
	color: #0F0;
}

#code_submit {
	width: auto;
}

#secret_key_errors, #snake_code_errors {
	font-weight: bold;
	font-style: italic;
	color: red;
	position: absolute;
}

input#secret_key_errors, input#snake_code_errors {
	background: rgba(255, 255, 255, 0.7);
}

#id_snake_code {
	width: 80%;
	min-width: 300px;
	outline: 0;
	padding: 10px;
}

.ready {
	color: #2C852C;
	font-weight: bold;
	position: relative;
}

.ready:before {
	content: "✓";
	color: green;
	position: absolute;
	/*float: right;*/
	left: -30px
}

.wrong {
	color: rgb(194, 47, 0);
	font-weight: bold;
	position: relative;
}

.wrong:before {
	content: "✗";
	color: red;
	position: absolute;
	/*float: right;*/
	left: -30px
}

fieldset {
	width: 320px;
	background: rgba(255, 255, 255, 0.7);
	border: none;
}

legend {
	margin-bottom: 10px;
}

caption {
	/*border: 1px solid #d6d6d6;*/
	border-bottom: none;
	margin: 10px 0;
	color: #555;
	font-size: 16px;
}

table th {
	font-weight: normal;
	background-color: rgba(8, 22, 9, 0.8);
	color: white;
}

table {
	background: rgba(255, 255, 255, 0.7);
	color: #555;
	font-size: 12px;
}

canvas {
	background: rgba(255, 255, 255, 0.7);
	border: none;
}

.pseudocode {
	margin-top: 50px;
	font-size: 11px;
}

.instruction {
	margin-bottom: 10px;
	font-size: 11px;
}

#snake1_name, #snake2_name {
	margin-left: 5px;
}


#loader-wrapper {
    display: inline-block;
	position: relative;
	top: 10px;
}

#loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba(8, 22, 9, 0.8);
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}