{% extends 'base.html' %}

{% block content %}
<header>
	PySnake
</header>
<div class='col_7'>
	<div class="instruction">
		{% include 'game/instruction.html' %}
	</div>
	<form id="snake_form" action="{% url 'submit_code' %}" method='POST'>
		<div>{% csrf_token %}</div>

		<div style="margin-bottom:30px">
			<label style='vertical-align: middle'>{{ form.secret_key.label }}</label>
			<div id="{{ form.secret_key.name }}_errors"></div>
			<input type="text" id="{{ form.secret_key.auto_id }}" name="{{ form.secret_key.name }}" style='margin-left: 11px; padding: 6px; border: none; background: rgba(255, 255, 255, 0.7);'/>
		</div>

		<label>{{ form.snake_code.label }}</label>
		<textarea id="{{ form.snake_code.auto_id }}" name="{{ form.snake_code.name }}" cols="30" rows="30" style="background: rgba(255, 255, 255, 0.7);"></textarea>
		<div id="{{ form.snake_code.name }}_errors"></div>
		<br/>
		
		<button id="code_submit" type="submit" value="submit">Submit</button>
		<div id="loader-wrapper">
		    <div id="loader"></div>
		</div>
	</form>
	<div class="pseudocode">
		{% include 'game/pseudocode.html' %}
	</div>
</div>

<div class='col_3'>
	<!-- <h1>GO!</h1> -->
	<form>
	<legend>What enemy snake?</legend>
		<fieldset>
				<input type="radio" name="enemy_snake" value="randomkonda" /><span class='snake_label randomkonda'>Ranomkonda</span><span id='randomkonda_result'></span><br />
				<input type="radio" name="enemy_snake" value="blind_mamba" /><span class='snake_label blind_mamba'>Blind Mamba</span><span id='blind_mamba_result'></span><br />
				<input type="radio" name="enemy_snake" value="cobra_star" /><span class='snake_label cobra_star'>CobrA*</span><span id='cobra_star_result'></span><br />
		</fieldset>
	</form>

	<button type="button" value="step_backward" id="step_backward"/>&lt;</button>
	<button type="button" value="pause" id="pause"/>||</button>
	<button type="button" value="play" id="play"/>&#9654;</button>
	<button type="button" value="step_forward" id="step_forward"/>&gt;</button><br/>
	<canvas id="board" width="150" height="150"></canvas>

	<div id='results_table'>
		{% include 'game/results_table.html' %}
	</div>

</div>



{% endblock content %}